.tindercards__card{
    position: relative;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    max-width: 85vh;
    height: 50vh;
    box-shadow: 0 18px 53px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}